<div class="about-header">
  <div class="about-jumbotron">
    <h1>About</h1>
  </div>
</div>

<div class="container">
  <div class="mantra">
    <h3 style="color:#E77817">Our Mantra:</h3>
    <h4>Improve educational outcomes for all children, especially those with special needs.</h4>
    <!--<div class="why-details">
      <p>
        Approximately 2.5 million children with special needs in K-12 are at risk of not graduating high-school because of inadequate measurements and collaboration of their academic and behavioral goals and observations. Kidhoo transforms a proven manual and very cumbersome process used today in severe disability cases and makes it easier and accessible using latest technology. 
      </p>
    </div> -->
  </div>
</div>

<div class="container">
  <div class="mission">
    <h3 style="color:#E77817">Our Mission: </h3>
    <h4>Provide exceptional applications for parents, teachers, and other members of a child’s support community to record, measure/track, communicate and collaborate with each other within seconds so they can help tailor their approach and guidance for the child in a way which helps him/her achieve their academic and behavioral goals.</h4>
  </div>
</div>