<div class ="hero">
  <div class="hero-jumbotron">
    <h1>Support every child.</h1>
    <h3>Build a collaborative support community for your child today!</h3>
    <p><a class="btn btn-primary btn-lg" role="button" href="../welcome/product">Learn more.</a></p>
  </div> <!-- Jumbotron end -->
</div> <!-- hero end -->
