<div class ="hero">
  <div class="jumbotron">
    <h1>Support every child.</h1>
    <p>Start collaborating today!</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more.</a></p>
  </div> <!-- Jumbotron end -->
</div> <!-- hero end -->
