<div class ="hero">
  <div class="hero-jumbotron">
    <h1>Help your caped-crusader achieve their goals.</h1>
    <h3>Become a collaborator today!</h3>
    <p><a class="btn btn-primary btn-lg" role="button" href="../welcome/product">Learn more.</a></p>
  </div> <!-- Jumbotron end -->
</div> <!-- hero end -->
