/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";

 .container{
    font-family: Verdana, Geneva, sans-serif;
 }

 .mantra{
    margin-top: 5px;
 }

.why-details{
  padding-top: 10px;
}

.btn.btn-primary{
  background-color: #901E78;
}

.about-jumbotron{
  background-color: transparent !important;
  margin-left: 10%;
  padding-top: 3%;
  font-family: Verdana, Geneva, sans-serif;
  color: #0093DD;
}

.about-header{
  background-image:url("../images/O Logo.png");
  background-size: 10%;
  background-position: top-left;
  background-repeat: no-repeat;
  height:150px;
}

.hero-jumbotron{
  background-color: transparent !important;
  /*background-color:none !important;*/
  padding-top: 10%;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: -1px 1px 1px #000000;
  margin-left: 25px;
  width: 50%;
}

.hero{
  background-image: url("../images/shutterstock_144352681.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin-top: -25px;
}

@media (max-width: 767px) {
  .hero{
  background-size: cover;
  height:650px;
  }

  .hero-jumbotron{
  background-color: transparent !important;
  /*background-color:none !important;*/
  padding-top: 15%;
  width: 65%;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: -1px 1px 1px #000000;
  }

  .about-header{
  background-size: 15%;
  background-position: top-left;
  background-repeat: no-repeat;
  height:150px;
  }


  .about-jumbotron{
  background-color: transparent !important;
  margin-left: 20%;
  padding-top: 3%;
  font-family: Verdana, Geneva, sans-serif;
  color: #0093DD;
  }
}

@media (max-width: 479px) {
  .hero{
  background-size: cover;
  padding-left: -100px;
  height:350px;
  padding-bottom: 600px;
  margin-top: -25px;
  background-position: 45% 0%;
  }

  .hero-jumbotron{
  background-color:transparent !important;
  /*background-color:none !important;*/
  padding-top: 2%;
  color: white;
  font-family: "open sans", sans-serif;
  text-shadow: -1px 1px 1px #000000;
  width: 370px;
  }

  .about-header{
  background-size: 20%;
  background-position: top-left;
  background-repeat: no-repeat;
  height:150px;
  }

  .about-jumbotron{
  background-color: transparent !important;
  margin-left: 25%;
  padding-top: 3%;
  font-family: Verdana, Geneva, sans-serif;
  color: #0093DD;
  }

}