/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";

.btn.btn-primary{
  background-color: #901E78;
}

.jumbotron{
  background-color: transparent !important;
  /*background-color:none !important;*/
  padding-top: 20%;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: -1px 1px 1px #000000;
}

.hero{
  background-image: url("../images/shutterstock_120103930.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  margin-top: -25px;
}

@media (max-width: 767px) {
  .hero{
  background-size: cover;
  height:650px;
  }

  .jumbotron{
  background-color: transparent !important;
  /*background-color:none !important;*/
  padding-top: 25%;
  width: 65%;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: -1px 1px 1px #000000;
  }
}

@media (max-width: 479px) {
  .hero{
  background-size: cover;
  height:350px;
  padding-bottom: 600px;
  margin-top: -25px;
  background-position: 37% 37%;
  }

  .jumbotron{
  background-color:transparent !important;
  /*background-color:none !important;*/
  padding-top: 25%;
  padding-left: 15px;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: -1px 1px 1px #000000;
  }
}