/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";
 $deflt_font: "open sans", sans-serif;
 $k_blue: #42B4ED;
 $k_magenta: #A83E92;

 /*.navbar{
  background: transparent;
 }

 .navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
    color: white;
} */

 .container{
    font-family: $deflt_font;
 }

 .mantra{
    margin-top: 5px;
 }

.why-details{
  padding-top: 10px;
}

.btn.btn-primary{
  background-color: $k_magenta;
  border: $k_magenta; 
}

.about-jumbotron{
  background-color: transparent !important;
  margin-left: 10%;
  padding-top: 3%;
  font-family: $deflt_font;
  color: $k_blue;
}

.about-header{
  background-image:url("../images/O Logo.png");
  background-size: 5%;
  background-position: 3% 45%;
  background-repeat: no-repeat;
  height:150px;
}

.hero-jumbotron{
  background-color: transparent !important;
  /*background-color:none !important;*/
  padding-top: 10%;
  color: white;
  font-family: $deflt_font;
  text-shadow: -1px 1px 1px #000000;
  margin-left: 25px;
  width: 50%;
}

.hero{
  background-image: url("../images/shutterstock_144352681.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin-top: -100px;
}

@media (max-width: 767px) {
  .hero{
  background-size: cover;
  height:650px;
  }

  .hero-jumbotron{
  background-color: transparent !important;
  /*background-color:none !important;*/
  padding-top: 15%;
  width: 65%;
  color: white;
  font-family: $deflt_font;
  text-shadow: -1px 1px 1px #000000;
  }

  .about-header{
  background-size: 10%;
  background-position: 3% 45%;
  background-repeat: no-repeat;
  height:150px;
  }


  .about-jumbotron{
  background-color: transparent !important;
  margin-left: 15%;
  padding-top: 5%;
  font-family: $deflt_font;
  color: $k_blue;
  }
}

@media (max-width: 479px) {
  .hero{
  background-size: cover;
  padding-left: -100px;
  height:350px;
  padding-bottom: 600px;
  margin-top: -25px;
  background-position: 45% 0%;
  }

  .hero-jumbotron{
  background-color:transparent !important;
  /*background-color:none !important;*/
  padding-top: 2%;
  color: white;
  font-family: $deflt_font;
  text-shadow: -1px 1px 1px #000000;
  width: 370px;
  }

  .about-header{
  background-size: 15%;
  background-position: 3% 45%;
  background-repeat: no-repeat;
  height:150px;
  }

  .about-jumbotron{
  background-color: transparent !important;
  margin-left: 20%;
  padding-top: 10%;
  font-family: $deflt_font;
  color: $k_blue;
  }

}